th {
    background: #3498DB;
    color: #FFFFFF;
  }
  
  tr:nth-child(odd) {
    background: #EEEEEE;
  }
  
  td,
  th {
    border: 1px solid #CCCCCC;
    padding: 10px;
  }
  
  table {
    border-collapse: collapse;
  }